<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UniversalControlSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UniversalControlSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="控制方案文件目录" value="\xml"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <userSettings>
    <UniversalControlSystem.Properties.Settings>
      <setting name="iAxisCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sAxisMoveStyle" serializeAs="String">
        <value>点位运动</value>
      </setting>
      <setting name="LeftYield" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightYield" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftOKYield" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightOKYield" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftNGYield" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightNGYield" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftCT" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightCT" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="iIOCardCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="leftProgramA" serializeAs="String">
        <value />
      </setting>
      <setting name="leftProgramB" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="MachineNo" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Wsdl" serializeAs="String">
        <value>www.sunwoda.com</value>
      </setting>
      <setting name="MakeOrder" serializeAs="String">
        <value />
      </setting>
      <setting name="MachineNoRight" serializeAs="String">
        <value />
      </setting>
      <setting name="DoubleStation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MachinePosition" serializeAs="String">
        <value />
      </setting>
      <setting name="Ckdebug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bDoorOpenEStopDeal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="bGratingEStopDeal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GetSNWay" serializeAs="String">
        <value>物料条码</value>
      </setting>
      <setting name="MESSetting" serializeAs="String">
        <value>惠州博罗</value>
      </setting>
      <setting name="bRightIsUsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="iControlIOCardCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="iModuleIOCardCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DetectionChannelResources" serializeAs="String">
        <value />
      </setting>
      <setting name="DetectChannel1" serializeAs="String">
        <value />
      </setting>
      <setting name="DetectChannel2" serializeAs="String">
        <value />
      </setting>
      <setting name="DetectChannel3" serializeAs="String">
        <value />
      </setting>
      <setting name="DetectChannel4" serializeAs="String">
        <value />
      </setting>
      <setting name="OutChannelResources" serializeAs="String">
        <value />
      </setting>
      <setting name="OutChannel1" serializeAs="String">
        <value />
      </setting>
      <setting name="OutChannel2" serializeAs="String">
        <value />
      </setting>
      <setting name="OutChannel3" serializeAs="String">
        <value />
      </setting>
      <setting name="OutChannel4" serializeAs="String">
        <value />
      </setting>
      <setting name="bMiddleIsUsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="middleProgramC" serializeAs="String">
        <value />
      </setting>
      <setting name="middleProgramOutGlue" serializeAs="String">
        <value />
      </setting>
      <setting name="RightProgramFeedingA" serializeAs="String">
        <value />
      </setting>
      <setting name="RightProgramFeedingB" serializeAs="String">
        <value />
      </setting>
      <setting name="IgnoreOutGlue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RightProgramFeedingC" serializeAs="String">
        <value />
      </setting>
      <setting name="OnePointGlue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwoPointGlue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThrPointGlue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FourPointGlue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FlowCharPath" serializeAs="String">
        <value />
      </setting>
      <setting name="CamerShield" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="屏蔽小车" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FlowRunPath" serializeAs="String">
        <value />
      </setting>
      <setting name="chooseAisx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="回原选择" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="流程更改标志" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="_Totalcount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="流程1" serializeAs="String">
        <value />
      </setting>
      <setting name="流程2" serializeAs="String">
        <value />
      </setting>
      <setting name="IO1" serializeAs="String">
        <value />
      </setting>
      <setting name="IO2" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftPointTask" serializeAs="String">
        <value />
      </setting>
      <setting name="RightPointTask" serializeAs="String">
        <value />
      </setting>
      <setting name="RangResources" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_网址" serializeAs="String">
        <value />
      </setting>
      <setting name="FTP服务器" serializeAs="String">
        <value />
      </setting>
      <setting name="FTP用户名" serializeAs="String">
        <value />
      </setting>
      <setting name="FTP密码" serializeAs="String">
        <value />
      </setting>
      <setting name="屏蔽mes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CT" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OKTotal" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="NGTotal" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="PointList" serializeAs="String">
        <value />
      </setting>
      <setting name="QRCode" serializeAs="String">
        <value />
      </setting>
      <setting name="SessionId" serializeAs="String">
        <value />
      </setting>
      <setting name="MesPlace" serializeAs="String">
        <value />
      </setting>
      <setting name="屏蔽扫码" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Agv工位" serializeAs="String">
        <value />
      </setting>
      <setting name="首件" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="允许出红光" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="当前流程" serializeAs="String">
        <value />
      </setting>
      <setting name="清洗点检完成" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="清洗点检完成时间" serializeAs="String">
        <value />
      </setting>
      <setting name="左测高点检完成" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="左测高点检完成时间" serializeAs="String">
        <value />
      </setting>
      <setting name="右测高点检完成" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="右测高点检完成时间" serializeAs="String">
        <value />
      </setting>
      <setting name="左CCD点检完成" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="左CCD点检完成时间" serializeAs="String">
        <value />
      </setting>
      <setting name="右CCD点检完成" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="右CCD点检完成时间" serializeAs="String">
        <value />
      </setting>
    </UniversalControlSystem.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <UniversalControlSystem.Properties.Settings>
      <setting name="UniversalControlSystem_WebReference_MESInterface"
        serializeAs="String">
        <value>http://10.160.88.101:8087/MESInterface.asmx</value>
      </setting>
    </UniversalControlSystem.Properties.Settings>
  </applicationSettings>
</configuration>
